/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.noMarginBottom {
    margin-bottom: 0 !important;
}

.marginBottom-5 {
    margin-bottom: 5px !important;
}

.marginBottom-15 {
    margin-bottom: 15px !important;
}

.marginBottom-30 {
    margin-bottom: 30px !important;
}

.layer-genecoAdmin {}

.layer-genecoAdmin .page-header {
    margin: 0 0 10px;
}

.layer-genecoAdmin .page-header h1 {
    margin: 0;
    padding: 0;
}

.layer-genecoAdmin .page-header h1 .span-version {
    font-size: 13px;
}

.layer-genecoAdmin .nav-tab-active {
    background-color: transparent;
}

.layer-genecoAdmin form h2 {
    display: none;
}

.layer-genecoAdmin .wrapper-genecoAdmin .layer-section {
    background-color: #FFF;
    border-radius: 10px;
    border: 1px solid #DCDCDE;
    margin-top: 15px;
    padding: 15px;
}

.wrapper-genecoAdmin h2 {
    border-bottom: 1px solid #D9D9D9;
    font-style: italic;
    margin: 0 0 15px;
    padding: 0 0 10px;
}

.wrapper-genecoAdmin p.submit {
    margin-bottom: 0;
    padding-bottom: 0;
}

.wrapper-genecoAdmin .layer-preCode {
    overflow-y: auto;
}

.layer-usage {
    border-bottom: 1px dashed #D9D9D9;
    margin: 0 0 15px;
    padding: 0 0 15px;
}

.layer-usage:last-of-type {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

.layer-usage h3 {
    margin-bottom: 0;
}

.layer-usage h4 {
    margin-bottom: 8px;
}

.layer-usage p {
    margin: 0 0 8px;
}

.layer-row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x)/ -2);
    margin-left: calc(var(--bs-gutter-x)/ -2);
}

.layer-row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x)/ 2);
    padding-left: calc(var(--bs-gutter-x)/ 2);
    margin-top: var(--bs-gutter-y);
}

@media (min-width: 576px) {
    .layer-section.col-sm-6 {
        flex: 0 0 auto;
        width: 50%;
    }
}

@media screen and (min-width: 1600px) and (max-width: 2299px) {
    .plugin-card {
        border: 0;
        width: calc(49.8% - 5px);
    }
    .plugin-card:nth-child(3n+1) {
        clear: none;
        margin-left: 16px;
    }
    .plugin-card:nth-child(3n) {
        margin-left: 0;
    }
    .plugin-card:nth-child(even) {
        margin-right: 0;
    }
}

code, kbd { display: block; padding: 5px 15px; }
p code, p kbd { display: inline-block; margin: 0 5px; }